
ProfecoService/build/web/WEB-INF/lib/amqp-client-5.7.1.jar
ProfecoService/build/web/WEB-INF/lib/jackson-annotations-2.13.2.jar
ProfecoService/build/web/WEB-INF/lib/jackson-core-2.13.2.jar
ProfecoService/build/web/WEB-INF/lib/jackson-databind-2.13.2.2.jar
ProfecoService/build/web/WEB-INF/lib/slf4j-simple-1.7.26.jar
ProfecoService/build/web/WEB-INF/lib/slf4j-api-1.7.26.jar
/ProfecoClienteREST/build/
/ConsumidorClienteREST/nbproject/private/
/MercadoClienteREST/nbproject/private/
/MercadoClienteREST/build/